In [1]:
import pandas as pd
import numpy as np
import json
import requests

In [2]:
base = 'https://swapi.dev/api/people/'
people = requests.get(base).json()

In [3]:
people['count']

82

In [4]:
results = people['results'] # a list of dictionary

while people['next']:
    people = requests.get(people['next']).json()
    results = results + people['results']

In [5]:
len(results)

82

In [6]:
people_df = pd.DataFrame(results)

In [7]:
people_df.shape

(82, 16)

In [8]:
people_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],"[http://swapi.dev/api/vehicles/14/, http://swa...","[http://swapi.dev/api/starships/12/, http://sw...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,http://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,http://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,http://swapi.dev/api/planets/8/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,http://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],[],[http://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,http://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,http://swapi.dev/api/planets/2/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],[http://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,http://swapi.dev/api/people/5/

name of the oldest person (or robot or alien) and list the titles of all the films they appeared in

In [9]:
people_df['birth_year'].values

array(['19BBY', '112BBY', '33BBY', '41.9BBY', '19BBY', '52BBY', '47BBY',
       'unknown', '24BBY', '57BBY', '41.9BBY', '64BBY', '200BBY', '29BBY',
       '44BBY', '600BBY', '21BBY', 'unknown', '896BBY', '82BBY',
       '31.5BBY', '15BBY', '53BBY', '31BBY', '37BBY', '41BBY', '48BBY',
       'unknown', '8BBY', 'unknown', '92BBY', 'unknown', '91BBY', '46BBY',
       '52BBY', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown',
       '62BBY', '72BBY', '54BBY', 'unknown', '48BBY', 'unknown',
       'unknown', 'unknown', 'unknown', '72BBY', '92BBY', 'unknown',
       'unknown', 'unknown', 'unknown', 'unknown', '22BBY', 'unknown',
       'unknown', 'unknown', '82BBY', 'unknown', '58BBY', '40BBY',
       'unknown', '102BBY', '67BBY', '66BBY', 'unknown', 'unknown',
       'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown',
       'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown'],
      dtype=object)

In [10]:
people_df['birth_year'].value_counts()

unknown    39
41.9BBY     2
19BBY       2
52BBY       2
48BBY       2
72BBY       2
92BBY       2
82BBY       2
67BBY       1
896BBY      1
44BBY       1
8BBY        1
21BBY       1
31BBY       1
54BBY       1
40BBY       1
66BBY       1
64BBY       1
600BBY      1
15BBY       1
22BBY       1
102BBY      1
53BBY       1
33BBY       1
47BBY       1
112BBY      1
62BBY       1
24BBY       1
41BBY       1
200BBY      1
31.5BBY     1
37BBY       1
91BBY       1
46BBY       1
57BBY       1
58BBY       1
29BBY       1
Name: birth_year, dtype: int64

In [27]:
BBY = people_df[people_df.birth_year.str.endswith('BBY')]
BBY = BBY.assign(birth_year = BBY['birth_year'].map(
    lambda x: float(x.rstrip('BBY'))))
BBY.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19.0,male,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],"[http://swapi.dev/api/vehicles/14/, http://swa...","[http://swapi.dev/api/starships/12/, http://sw...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,http://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112.0,n/a,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,http://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33.0,n/a,http://swapi.dev/api/planets/8/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,http://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9,male,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],[],[http://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,http://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19.0,female,http://swapi.dev/api/planets/2/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[],[http://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,http://swapi.dev/api/people/5/

In [45]:
BBY.sort_values('birth_year', ascending=False).head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
18,Yoda,66,17,white,green,brown,896.0,male,http://swapi.dev/api/planets/28/,"[http://swapi.dev/api/films/2/, http://swapi.d...",[http://swapi.dev/api/species/6/],[],[],2014-12-15T12:26:01.042000Z,2014-12-20T21:17:50.345000Z,http://swapi.dev/api/people/20/
15,Jabba Desilijic Tiure,175,"1,358",n/a,"green-tan, brown",orange,600.0,hermaphrodite,http://swapi.dev/api/planets/24/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/5/],[],[],2014-12-10T17:11:31.638000Z,2014-12-20T21:17:50.338000Z,http://swapi.dev/api/people/16/
12,Chewbacca,228,112,brown,unknown,blue,200.0,male,http://swapi.dev/api/planets/14/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/3/],[http://swapi.dev/api/vehicles/19/],"[http://swapi.dev/api/starships/10/, http://sw...",2014-12-10T16:42:45.066000Z,2014-12-20T21:17:50.332000Z,http://swapi.dev/api/people/13/
1,C-3PO,167,75,n/a,gold,yellow,112.0,n/a,http://swapi.dev/api/planets/1/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,http://swapi.dev/api/people/2/
65,Dooku,193,80,white,fair,brown,102.0,male,http://swapi.dev/api/planets/52/,"[http://swapi.dev/api/films/5/, http://swapi.d...",[http://swapi.dev/api/species/1/],[http://swapi.dev/api/vehicles/55/],[],2014-12-20T16:52:14.726000Z,2014-12-20T21:17:50.462000Z,http://swapi.dev/api/people/67/

In [31]:
oldest = BBY.sort_values('birth_year', ascending=False).head(1)

In [32]:
oldest

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
18,Yoda,66,17,white,green,brown,896.0,male,http://swapi.dev/api/planets/28/,"[http://swapi.dev/api/films/2/, http://swapi.d...",[http://swapi.dev/api/species/6/],[],[],2014-12-15T12:26:01.042000Z,2014-12-20T21:17:50.345000Z,http://swapi.dev/api/people/20/

In [46]:
oldest.name

18    Yoda
Name: name, dtype: object

In [35]:
oldest_films = [requests.get(y).json() for x in oldest.films for y in x]

In [39]:
len(oldest_films)

5

In [43]:
[x['title'] for x in oldest_films]

['The Empire Strikes Back',
 'Return of the Jedi',
 'The Phantom Menace',
 'Attack of the Clones',
 'Revenge of the Sith']